.main-content{
  font-family: var(--font);
}

.div-page-container{
  position: relative;
  min-height: 100%;
}

.text{
  margin-left: 10px;
  margin-right: 10px;
}

.div-panel1{
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-description{
  display:flex;
  align-items: center;
  background-size: cover;
  background-image: url("meeting1.png");
  height: 500px;
  width: 60%;
}

.h1-description{
  text-align: center;
  color: var(--lightest);
}

.div-panel2{
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
}

.div-aboutus-description{
  width: 50%;
}

.h1-aboutus{
  text-align: center;
}

.p-aboutus{
  text-align: center;
}
