:root {
  /*colours*/
  --lightest: #FFB997;
  --light: #F67E7D;
  --medium: #843B62;
  --dark: #74546A; 
  --darkest: #0B032D;
  --color-link: #843B62; 
  --color-background: #0b032d34; 
}

.meeting_details, #day{
    text-align: center;
    font-family: sans-serif;
}

.table_container{
    display:grid;
    justify-content: center;
}

table{
    width: 300%;
    border-collapse: collapse;
    justify-self: center;
}

tr{
    height:60px;
}
td{
    border: 1px solid;
    border-style: dashed;
    width: 70%;
}

th{
    text-align: left; 
}

.a_btn {
  width: 100%;
  justify-content: center;
  align-items: center;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  }
  
.left_button{
  background-color: var(--darkest);
  border-radius: 12px;
  margin-right: 5px;
  color: var(--lightest);
  font-weight: bold;
}
.center_button {
  background-color: var(--medium);
  border-radius: 12px;
  margin-left: 5px;
  margin-right: 5px;
  color: white;
  font-weight: bold;
  }
  
.right_button {
  background-color: var(--lightest);
  border-radius: 12px;
  margin-left: 5px;
 margin-right: 10px;
 color: var(--darkest);
 font-weight: bold;
}

.left_button:active, .right_button:active, .center_button:active{
  border-color: green;
  border-width: 11px;
}

.save_calendar{
  width: 100px;
  justify-content: center;
  align-items: center;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: var(--light);
  border-radius: 50px;
}

.send_emails{
  display: flex;
  justify-content: center;
  align-items: center;

}

.submit{
  width: 200px;
  justify-content: center;
  align-items: center;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: var(--light);
  border-radius: 50px;
}
