.meeting_details, #day{
    text-align: center;
    font-family: sans-serif;
}

.table_container{
    display:grid;
    justify-content: center;
}

table{
    width: 300%;
    border-collapse: collapse;
    
}

tr{
    height:60px;
}
td{
    border: 1px solid;
    border-style: dashed;
    width: 70%;
}

th{
    text-align: left; 
}

.a_btn {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  }
  
.left_button{
  background-color:#0B032D;
 border-radius: 12px;
 width:33%;
 margin-left: 300px;
 margin-right: 5px;
 color: white;
 font-weight: bold;

 
}
  .center_button {
    background-color: #843B62;
    border-radius: 12px;
    width:33%;
    margin-left: 5px;
 margin-right: 5px;
 color: white;
 font-weight: bold;
  }
  
  .right_button {
    background-color: #FFB997;
    border-radius: 12px;
    width:33%;
    margin-left: 5px;
 margin-right: 10px;
 color: white;
 font-weight: bold;
}

.left_button:active, .right_button:active, .center_button:active{
  border-color: green;
  border-width: 11px;
}

.save_calendar{
  width: 100px;
  justify-content: center;
  align-items: center;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: purple;
  border-radius: 12px;
}

.send_emails{
  display: flex;
  justify-content: center;
  align-items: center;

}

.submit{
  
  width: 200px;
  justify-content: center;
  align-items: center;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: purple;
    border-radius: 12px;
}

