.div-main{
  margin-bottom: 20px;
}

.body-profile{
  font-family: var(--font);
  position: relative;
  min-height: 100vh;
}

.h1-profile{
  font-size: 5.5vmin;
  text-align: center;
}

.div-profile-form-wrapper{
  display: flex;
  justify-content: center;
}

.div-profile-form{
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
  width: 40%;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

@media screen and (max-width: 400px) {
  .div-profile-form{
    width: 55%;
  }
}

.form-profile{
  margin-bottom: 20px;
}

.label-profile{
  display: block;
}

.div-submit{
  display: flex;
  justify-content: center;
}

.input-profile{
  font-size: 3vmin;
  padding: 0;
  margin-top: 3px;
}

.input-submit{
  border-width: 5px;
  font-size: 2.5vmin;
  color: var(--lightest);
  border: 0.15rem solid var(--lightest);
  border-radius: 1.5rem;
  padding: 10px 20px;
  background-color: var(--darkest);
  transition: background-color 0.2s;
}

.input-password{
  -webkit-text-security: square;
}

.input-submit:hover{
  background-color: #9282db;
  cursor: pointer;
}

#profile-changes-hidden{
  text-align: center;
  color: white;
  margin: 0;
}